/* To use percentage-based heights */
html,
body {
  height: 100%;
}

/* Remove default margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol,
dl,
dt,
dd {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
